simulation/.waf-*/waflib/*.pyc
simulation/build/**
simulation/waf-tools/*.pyc
simulation/mix/*.tr
*.pyc
simulation/.lock-waf_linux2_build
simulation/cmake-build-debug
simulation/cmake-build-debug-event-trace
build
